@import url(https://fonts.googleapis.com/css?family=Grand+Hotel:regular);
html {
  font-size: 16px;
}

body, * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, san-serif;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

body {
  background-color: #FAFAFA;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#navWrapper {
  background-color: #FFFFFF;
  max-width: 100%;
  z-index: 1000;
  position: fixed;
  -webkit-box-shadow: 0 0 1px grey;
          box-shadow: 0 0 1px grey;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#navWrapper > div {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1366px) {
  #navWrapper > div {
    width: 50%;
  }
}

#navWrapper #logo a {
  color: #202020;
}

#navWrapper #logo a div img {
  height: auto;
  max-width: 150px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}

#navWrapper #searchDiv #search {
  font-family: Roboto, 'FontAwesome';
  font-weight: lighter;
  font-size: 0.95rem;
  text-align: center;
  border: .5px solid lightgrey;
  background-color: #f0f0f0;
  padding: 3px;
  border-radius: 3px;
  width: 100%;
}

#navWrapper #searchDiv #search:focus {
  outline: none;
  text-align: left;
}

#navWrapper #searchDiv #search:focus::-webkit-input-placeholder {
  text-align: left;
}

#navWrapper #searchDiv #search:focus:-ms-input-placeholder {
  text-align: left;
}

#navWrapper #searchDiv #search:focus::-ms-input-placeholder {
  text-align: left;
}

#navWrapper #searchDiv #search:focus::placeholder {
  text-align: left;
}

#navWrapper #nav {
  height: 100%;
}

#navWrapper #nav ul {
  width: 100%;
  height: inherit;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 0;
}

#navWrapper #nav ul li a {
  color: lightgrey;
  margin: 0;
  height: 100%;
}

#navWrapper #nav ul li a i {
  font-size: 1.6rem;
  font-weight: light;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navWrapper #nav ul li a i::after {
  content: "";
  display: none;
}

#navWrapper #nav ul li a:hover {
  color: grey;
}

#contentWrapper {
  margin-top: 2rem;
  background-color: transparent;
  max-width: 100%;
}

#contentWrapper > div {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1366px) {
  #contentWrapper > div {
    width: 50%;
  }
}

#contentWrapper #main .status {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
}

#contentWrapper #main .status::-webkit-scrollbar {
  display: none;
}

#contentWrapper #main .status .status-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

#contentWrapper #main .status .status-item .status-div {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px orange;
          box-shadow: 0 0 0 2px white, 0 0 0 4px orange;
}

#contentWrapper #main .status .status-item .status-div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contentWrapper #main a {
  color: #202020;
}

#contentWrapper #main a p {
  font-family: 'Grand Hotel', cursive;
  font-size: 2rem;
}

.post .post-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .post-header .post-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .post-header .post-header-left .post-header-profilepic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px orange;
          box-shadow: 0 0 0 2px white, 0 0 0 4px orange;
  overflow: hidden;
}

.post .post-header .post-header-left .post-header-profilepic img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post .post-header .post-header-left .post-header-username small {
  line-height: 1;
  margin: 0;
}

.post .post-content {
  width: 100%;
}

.post .post-content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post .post-footer .post-footer-icons a i {
  font-size: 1.5rem;
  color: grey;
  font-weight: lighter;
}

.post .post-footer .post-footer-icons a.liked i {
  color: red !important;
}

.post .post-footer .post-footer-details p {
  line-height: 1;
  font-size: 14px;
}

.post .post-footer .post-footer-details p.time {
  font-size: 12px;
}

.post .post-footer #viewComments {
  cursor: pointer;
}

.post .post-footer #viewComments:hover {
  color: #48adff !important;
}

.post .comment-input .emoji {
  font-size: 1.5rem;
  margin-right: .5rem;
  color: grey;
}

.post .comment-input .comment {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.post .comment-input .comment form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post .comment-input .comment form input {
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.post .comment-input .comment form input::-webkit-input-placeholder {
  opacity: 0.5;
}

.post .comment-input .comment form input:-ms-input-placeholder {
  opacity: 0.5;
}

.post .comment-input .comment form input::-ms-input-placeholder {
  opacity: 0.5;
}

.post .comment-input .comment form input::placeholder {
  opacity: 0.5;
}

.post .comment-input .comment form input:focus {
  outline: none;
  border: none;
}

.post .comment-input .comment form button {
  justify-self: flex-end;
  border: none;
  background-color: transparent;
  color: #48adff;
  font-weight: bold;
  opacity: 0.6;
}

.post .comment-input .comment form button:hover {
  opacity: 1;
}

.comments-container .user-header .post-header-profilepic {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px orange;
          box-shadow: 0 0 0 2px white, 0 0 0 4px orange;
}

.comments-container .user-header .post-header-profilepic img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#subContent .affix {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#subContent .affix .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#subContent .affix .profile .image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px orange;
          box-shadow: 0 0 0 2px white, 0 0 0 4px orange;
}

#subContent .affix .profile .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#subContent .affix .profile .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.3;
}

#subContent .affix .profile .name .username {
  font-size: .9rem;
  font-weight: bold;
  color: #353535;
}

#subContent .affix .profile .name .text-dark {
  font-weight: light;
  font-size: 0.8rem;
  color: #a1a1a1;
}

#subContent .affix .logout {
  margin-left: 40%;
}

#subContent .affix .logout a {
  line-height: 1;
  font-weight: bold;
  color: #48adff;
}

#subContent .affix .suggestions {
  color: grey;
}

#subContent .affix .suggestions .image {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=style.css.map */