@import url(https://fonts.googleapis.com/css?family=Grand+Hotel:regular);

html{
    font-size: 16px;
}
body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, san-serif;
    transition: all 150ms;
}

body{
    background-color: #FAFAFA;
    width: 100%;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

// Navbar

#navWrapper {
    background-color: #FFFFFF;
    max-width: 100%;
    z-index: 1000;
    position: fixed;

    &>div {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1366px) {
        &>div {
            width: 50%;
        }
    }

    #logo {
        a {
            color: #202020;

            p {
                font-family: 'Grand Hotel', cursive;
                font-size: 2rem;
            }
        }
    }

    #searchDiv {
        #search {
            font-family: Roboto,
                'FontAwesome';
            font-weight: lighter;
            font-size: 0.95rem;
            text-align: center;
            border: .5px solid lightgrey;
            background-color: #f0f0f0;
            padding: 3px;
            border-radius: 3px;
            width: 100%;

            &:focus {
                outline: none;
                text-align: left;
                &::placeholder {
                    text-align: left;
                }
            }
        }
    }

    #nav {
        height: 100%;

        ul {
            width: 100%;
            height: inherit;
            margin-right: 0;
            margin-left: auto;
            margin-bottom: 0;

            li {
                a {
                    color: lightgrey;
                    margin: 0;
                    height: 100%;

                    i {
                        font-size: 1.6rem;
                        font-weight: light;
                        height: 100%;
                        display: flex;
                        align-items: center;

                        &::after {
                            content: "";
                            display: none;
                        }
                    }

                    &:hover {
                        color: grey;
                    }
                }

            }
        }
    }
}

// Index
#contentWrapper {
    margin-top: 2rem;
    background-color: transparent;
    max-width: 100%;

    &>div {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1366px) {
        &>div {
            width: 50%;
        }
    }

    #main {
        .status{
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow-x: scroll;
            &::-webkit-scrollbar{
                display: none;
            }
            .status-item{
                width: fit-content;
                text-align: center;
                .status-div {
                    height: 55px;
                    width: 55px;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: 0 0 0 2px white,
                        0 0 0 4px orange;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        a {
            color: #202020;
            p {
                font-family: 'Grand Hotel', cursive;
                font-size: 2rem;
            }
        }
    }
}

.post{
    .post-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .post-header-left{
            display: flex;
            align-items: center;

            .post-header-profilepic{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                box-shadow: 0 0 0 2px white, 0 0 0 4px orange;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .post-header-username{
                small{
                    line-height: 1;
                    margin: 0;
                }
            }
        }
    }
    .post-content{
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }

    .post-footer{
        .post-footer-icons{
            a{
                i{
                    font-size: 1.5rem;
                    color: grey;
                    font-weight: lighter;
                }
            }
        }
        .post-footer-details{
            p{
                line-height: 1;
                font-size: 14px;
            }
            p.time{
                font-size: 12px;
            }
        }
    }

    .comment-input{
        .emoji{
            font-size: 1.5rem;
            margin-right: .5rem;
            color: grey;
        }
        .comment{
            flex-grow: 1;
            form{
                display: flex;
                input{
                    border: none;
                    flex-grow: 1;
                    &::placeholder{
                        opacity: 0.5;
                    }
                    &:focus{
                        outline: none;
                        border: none;
                    }
                }
                button{
                    justify-self: flex-end;
                    border: none;
                    background-color: transparent;
                    color: rgb(72, 173, 255);
                    font-weight: bold;
                    opacity: 0.6;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
}


// Modal
.comments-container{
    .user-header{
        .post-header-profilepic{
            height: 45px;
            width: 45px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 0 0 2px white,
                        0 0 0 4px orange;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
#subContent{
    .affix{
        height: fit-content;
        width: 100%;
        padding: 0;
        margin: 0;
        .logged-user{
          display: flex;
          align-items: center;
          justify-content: space-between;
            .profile-header-left{
              display: flex;
              align-items: center;
                .profile-header-profilepic{
                  display: flex;
                  align-items: center;
                  width: 45px;
                  height: 45px;
                  overflow: hidden;
                  border-radius: 50%;
                  box-shadow: 0 0 0 1px white,
                              0 0 0 3px orange;
                  img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                  }
                }
            }
        }
    }
}


