{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% if title %}
        <title>{{title}} | Instagram</title>
    {% else %}
        <title> Instagram </title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    {% endblock %}
</head>

<body>

    {% block content %} {%endblock%}


    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}

</body>

</html>
