{%extends "accounts/base.html"%}
{% load static %}
{% block content%}

<div class="wrapper">
    <div class="header">
        <div class="top">
            <div class="logo">
                <img src="{% static 'img/instagram.png' %}" alt="instagram" style="width: 175px;">
            </div>
            {% if form.errors %}
            <div class="alert-danger py-1 mb-1 rounded">
                <p class="text-danger m-3">Passwords did not match.</p>
            </div>
            {% endif %}
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div class="input_field">
                    {{ form.first_name }}
                </div>
                <div class="input_field">
                    {{ form.last_name }}
                </div>
                <div class="input_field">
                    {{ form.username }}
                </div>
                <div class="input_field">
                    {{ form.email }}
                </div>
                <div class="input_field">
                    {{ form.password1 }}
                </div>
                <div class="input_field">
                    {{ form.password2 }}
                </div>

                <button class="btn">Sign Up</button>
            </form>
            <div class="or">
                <div class="line"></div>
                <p>OR</p>
                <div class="line"></div>
            </div>
            <div class="dif">
                <div class="fb">
                    <div><img src=" {% static 'img/facebook.png' %}" alt="facebook"></div>
                    <div>
                        <p>Log in with Facebook</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="signup">
            <p>Already have an account? <a href="{% url 'login'%}">Sign in</a></p>
        </div>
        <div class="apps">
            <p>Get the app.</p>
            <div class="icons">
                <a href="#"><img src="{% static 'img/googleplay.png' %}" alt="appstore"></a>
                <a href="#"><img src="{% static 'img/playstore.png' %}" alt="googleplay"></a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="links">
            <ul>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">SUPPORT</a></li>
                <li><a href="#">PRESS</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">JOBS</a></li>
                <li><a href="#">PRIVACY</a></li>
                <li><a href="#">TERMS</a></li>
                <li><a href="#">DIRECTORY</a></li>
                <li><a href="#">PROFILES</a></li>
                <li><a href="#">HASHTAGS</a></li>
                <li><a href="#">LANGUAGE</a></li>
            </ul>
        </div>
        <div class="copyright">
            © 2019 INSTAGRAM
        </div>
    </div>
</div>
<script>

    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'First name';
    form_fields[2].placeholder = 'Last name';
    form_fields[3].placeholder = 'Username';
    form_fields[4].placeholder = 'Email';
    form_fields[5].placeholder = 'Password';
    form_fields[6].placeholder = 'Confirm password';


    for (var field in form_fields) {
        form_fields[field].className += 'input'
        form_fields[field].required = true
    }
</script>
{%endblock%}
