{% extends 'base.html'%}
{% load static %}
<head>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
{% block content %}
<div class="container-fluid-lg border">
    <div class="container-md">
        <div class="row mx-lg-5 px-lg-5 px-sm-2 border">
                <h1>Hello, world!</h1>
        </div>
    </div>
    
</div>

<div class="container-md">
    <div class="row mx-lg-5 px-lg-5 px-sm-2 border">
        <h1>Hello, world!</h1>
    </div>
</div>
{% endblock %}