<div class="card py-3">
    <div class="status d-flex py-2">
        <div class="status-item mx-3 ms-4">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCaaf5NeDIc6ZkgqEgnQB2btCN1QEBqwKDiw&usqp=CAU"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>nickiminaj</small>
            </div>
        </div>

        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="https://kgo.googleusercontent.com/profile_vrt_raw_bytes_1587515406_10942.jpg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>hardwell</small>
            </div>
        </div>

        <div class="status-item mx-3">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="https://media.wired.co.uk/photos/606da22c5b10d6006e4b2146/16:9/w_1920,h_1080,c_limit/alan-walker.jpg"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>alanwalker</small>
            </div>
        </div>

    </div>
</div>

<!-- END OF STATUS -->