<div class="card py-3">
    <div class="status d-flex py-2">
        <div class="status-item mx-2 ms-4">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCaaf5NeDIc6ZkgqEgnQB2btCN1QEBqwKDiw&usqp=CAU"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>nickiminaj</small>
            </div>
        </div>

        <div class="status-item mx-2">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCaaf5NeDIc6ZkgqEgnQB2btCN1QEBqwKDiw&usqp=CAU"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>nickiminaj</small>
            </div>
        </div>

        <div class="status-item mx-2">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCaaf5NeDIc6ZkgqEgnQB2btCN1QEBqwKDiw&usqp=CAU"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>nickiminaj</small>
            </div>
        </div>

        <div class="status-item mx-2">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCaaf5NeDIc6ZkgqEgnQB2btCN1QEBqwKDiw&usqp=CAU"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>nickiminaj</small>
            </div>
        </div>

        <div class="status-item mx-2">
            <div class="status-div">
                <a href="#">
                    <img class="img-fluid"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCaaf5NeDIc6ZkgqEgnQB2btCN1QEBqwKDiw&usqp=CAU"
                        alt="">
                </a>
            </div>
            <div class="username mt-1">
                <small>nickiminaj</small>
            </div>
        </div>

    </div>
</div>

<!-- END OF STATUS -->